# Backend
DATABASE_URL=postgresql+psycopg://postgres:[PASSWORD]@db.eqepylyezrdlaqjgqrff.supabase.co:5432/postgres
SECRET_KEY=cambia-esto-por-un-string-aleatorio-de-32-chars
RESEND_API_KEY=
SUPABASE_URL=https://eqepylyezrdlaqjgqrff.supabase.co
SUPABASE_SERVICE_KEY=
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000

# Frontend
BACKEND_URL=http://localhost:8000
